/*===== Default style ======== */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

*{ margin: 0; padding: 0;box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.3%;
    --mnuClor: #474747;
    --btnClor: #FD6E0A;
    --btnText: #fff;
    --btnHover: #e46810;
    --bgClor: #FFF8F3;
    --fntClor: #000;
    --pClor: #757575;
}

/* ======= start Header ==== */
header {
    background: var(--bgClor);
    background: url('./images/developer.png') no-repeat, url(./images/header_bg.png) no-repeat;
    background-position: left, bottom right;
    background-size: contain, 40%;
    margin: 2rem 1rem 1rem 1rem ;
}
/* Navbar Design */
nav {
    width: 114rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
nav h2 a {
    font-size: 4.5rem;
    text-decoration: none;
    color: var(--fntClor);
}
nav h2 span {
    font-size: 4.5rem;
    color: var(--btnClor);
}
nav .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.menu ul {
    display: flex;
    list-style: none;
}
.menu ul li a {
    display: block;
    text-decoration: none;
    color: var(--mnuClor);
    font-size: 2rem;
    padding: .5rem 1rem;
    transition: .3s ease;
}
.menu ul li a:hover {
    color: var(--fntClor);
}
.menu .btn button {
    display: block;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    background: var(--btnClor);
    color: var(--btnText);
    border: none;
    border-radius: .5rem;
    transition: .3s ease;
}
.menu .btn button:hover {
    cursor: pointer;
    background: var(--btnHover);
}
/* ========= Navbar Ends here ====== */

/* ====== Start Hero section ======== */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 114rem;
    margin: 2rem auto;
}
.heroContent {
    width: 50rem;
}
.heroContent h3 {
    font-size: 2rem;
}
.heroContent h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}
.heroContent p {
    font-size: 1.6rem;
    color: var(--pClor);
}
.heroContent .btns {
    margin: 1.5rem 0;
}
.heroContent .btns button {
    background: var(--btnClor);
    color: var(--btnText);
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    border: none;
    border-radius: .3rem;
    margin-right: 1rem;
    transition: .3s ease;
}
.heroContent .btns button i {
    font-size: 1.6rem;
}
.heroContent .btns button:last-child {
    background: var(--btnText);
    color: var(--btnClor);
    border: .1rem solid var(--btnClor);
}
.heroContent .btns button:hover {
    cursor: pointer;
    background: var(--btnHover);
}
.heroContent .btns button:last-child:hover {
    background: var(--btnClor);
    color: var(--btnText);
}
.heroImg img {
    width: 34rem;
    height: 42rem;
}