/*===== Default style ======== */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

*{ margin: 0; padding: 0;box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.3%;
    --mnuClor: #474747;
    --btnClor: #FD6E0A;
    --btnText: #fff;
    --btnHover: #e46810;
    --bgClor: #FFF8F3;
    --fntClor: #000;
    --pClor: #757575;
}
.container {
    width: 114rem;
    margin: 2rem auto;
}
h2 {
    font-size: 2.6rem;
    color: var(--fntClor);
    margin: 1.5rem auto;
    text-align: center;
}
/* ======= start Header ==== */
header {
    background: var(--bgClor);
    padding: 2rem 1rem;
    margin-bottom: 10rem;
}
.headerContent {
    background: url('./images/developer.png') no-repeat, url(./images/header_bg.png) no-repeat;
    background-position: left, bottom right;
    background-size: contain, 40%;
}
/* Navbar Design */
nav {
    width: 114rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
nav h5 a {
    font-size: 4.5rem;
    text-decoration: none;
    color: var(--fntClor);
}
nav h5 span {
    font-size: 4.5rem;
    color: var(--btnClor);
}
nav .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.menu ul {
    display: flex;
    list-style: none;
}
.menu ul li a {
    display: block;
    text-decoration: none;
    color: var(--mnuClor);
    font-size: 2rem;
    padding: .5rem 1rem;
    transition: .3s ease;
}
.menu ul li a:hover {
    color: var(--fntClor);
}
.menu .btn button {
    display: block;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    background: var(--btnClor);
    color: var(--btnText);
    border: none;
    border-radius: .5rem;
    transition: .3s ease;
}
.menu .btn button:hover {
    cursor: pointer;
    background: var(--btnHover);
}
/* ========= Navbar Ends here ====== */

/* ====== Start Hero section ======== */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 114rem;
    margin: 2rem auto;
}
.heroContent {
    width: 50rem;
}
.heroContent h3 {
    font-size: 2rem;
}
.heroContent h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}
.heroContent p {
    font-size: 1.6rem;
    color: var(--pClor);
}
.heroContent .btns {
    margin: 1.5rem 0;
}
.heroContent .btns button {
    background: var(--btnClor);
    color: var(--btnText);
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    border: none;
    border-radius: .3rem;
    margin-right: 1rem;
    transition: .3s ease;
}
.heroContent .btns button i {
    font-size: 1.6rem;
}
.heroContent .btns button:last-child {
    background: var(--btnText);
    color: var(--btnClor);
    border: .1rem solid var(--btnClor);
}
.heroContent .btns button:hover {
    cursor: pointer;
    background: var(--btnHover);
}
.heroContent .btns button:last-child:hover {
    background: var(--btnClor);
    color: var(--btnText);
}
.heroImg img {
    width: 34rem;
    height: 42rem;
}

/* ===== start About Section ===== */

.aboutContent {
    background: var(--bgClor);
    text-align: center;
    padding: 4rem 2rem;
}
.aboutContent p {
    font-size: 1.4rem;
    color: var(--pClor);
    width: 65%;
    margin: auto;
    line-height: 2.8rem;
    margin-bottom: 2rem;
}
.aboutContact {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 3rem;
    margin: auto;
}
.aboutContact .item h4 {
    font-size: 1.6rem;
    color: var(--pClor);
}
.aboutContact .item h3 {
    font-size: 1.6rem;
    color: var(--fntClor);
}

/* Start What I do section */
.widoContent {
    margin-top: 10rem;
}
.widoheading p {
    font-size: 1.4rem;
    color: var(--pClor);
    width: 65%;
    margin: auto;
    line-height: 2.8rem;
    margin-bottom: 4rem;
    text-align: center;
}
.widoItems {
   margin: 2rem 0;
   display: flex;
   justify-content: space-between;
}
.widoItems .singleItem {
    flex-basis: 26rem;
    padding: 2rem;
    box-shadow: 0 .2rem .6rem 0 rgba(0, 0, 0, 0.3);
}
.widoItems .singleItem h6 {
    margin: 1.5rem 0;
    font-size: 1.6rem;
    color: var(--fntClor);
}
.widoItems .singleItem p {
    text-align: left;
    color: var(--pClor);
    line-height: 2.5rem;
    font-size: 1.4rem;
}